<%= form_with(model: specimen_sample, local: true) do |form| %>
  <% if specimen_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specimen_sample.errors.count, "error") %> prohibited this specimen_sample from being saved:</h2>

      <ul>
      <% specimen_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :indivisual_id %>
    <%= form.text_field :indivisual_id, id: :specimen_sample_indivisual_id %>
  </div>

  <div class="field">
    <%= form.label :specimen_type %>
    <%= form.text_field :specimen_type, id: :specimen_sample_specimen_type %>
  </div>

  <div class="field">
    <%= form.label :paper %>
    <%= form.text_field :paper, id: :specimen_sample_paper %>
  </div>

  <div class="field">
    <%= form.label :institution %>
    <%= form.text_field :institution, id: :specimen_sample_institution %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
