<h1>AdvancedSearch#index</h1>

<%= form_tag({action: "index"}, {method: "get"}) do %>
  <div><%= text_field_tag("conditions[]", @conditions[0] || '') %></div>
  <div><%= text_field_tag("conditions[]", @conditions[1] || '') %></div>
  <div><%= text_field_tag("conditions[]", @conditions[2] || '') %></div>
  <%= submit_tag(:search) %>
<% end %>

<h2>Organisms</h2>
<table>
  <tr>
    <th>Species</th>
    <th>Tax ID</th>
    <th>Type of web</th>
  </tr>
  <% @orgs.each do |org| %>
    <tr>
      <td><%= org.species %></td>
      <td><%= org.tax_id %></td>
      <td><%= org.type_of_web %></td>
    </tr>
  <% end %>
</table>

<h2>Indivisuals</h2>
<table>
  <tr>
    <th>Sex</th>
    <th>Sampling date</th>
    <th>Country</th>
    <th>Size</th>
  </tr>
  <% @indivisuals.each do |idv| %>
    <tr>
      <td><%= idv.sex %></td>
      <td><%= idv.sampling_date %></td>
      <td><%= idv.country %></td>
      <td><%= idv.size %></td>
    </tr>
  <% end %>
</table>

<h2>Genes</h2>
<table>
  <tr>
    <th>Gene name</th>
    <th>Protein name</th>
  </tr>
  <% @genes.each do |gene| %>
    <tr>
      <td><%= gene.gene_name %></td>
      <td><%= gene.protein_name %></td>
    </tr>
  <% end %>
</table>

<h2>Mechanical property</h2>
<table>
  <tr>
    <th>Toughness</th>
    <th>Toughness SD</th>
  </tr>
  <% @mps.each do |mp| %>
    <tr>
      <td><%= mp.toughness %></td>
      <td><%= mp.toughness_sd %></td>
    </tr>
  <% end %>
</table>
